# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
target/*
target/classes/
nbactions.xml
nb-configuration.xml

# Compiled class file
*.class
*.lst

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/classes/.netbeans_automatic_build
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/.netbeans_automatic_build
.vscode/*
java-runtime/release
java-runtime/run.bat
java-runtime/bin/api-ms-win-core-console-l1-1-0.dll
java-runtime/bin/api-ms-win-core-console-l1-2-0.dll
java-runtime/bin/api-ms-win-core-datetime-l1-1-0.dll
java-runtime/bin/api-ms-win-core-debug-l1-1-0.dll
java-runtime/bin/api-ms-win-core-errorhandling-l1-1-0.dll
java-runtime/bin/api-ms-win-core-file-l1-1-0.dll
java-runtime/bin/api-ms-win-core-file-l1-2-0.dll
java-runtime/bin/api-ms-win-core-file-l2-1-0.dll
java-runtime/bin/api-ms-win-core-handle-l1-1-0.dll
java-runtime/bin/api-ms-win-core-heap-l1-1-0.dll
java-runtime/bin/api-ms-win-core-interlocked-l1-1-0.dll
java-runtime/bin/api-ms-win-core-libraryloader-l1-1-0.dll
java-runtime/bin/api-ms-win-core-localization-l1-2-0.dll
java-runtime/bin/api-ms-win-core-memory-l1-1-0.dll
java-runtime/bin/api-ms-win-core-namedpipe-l1-1-0.dll
java-runtime/bin/api-ms-win-core-processenvironment-l1-1-0.dll
java-runtime/bin/api-ms-win-core-processthreads-l1-1-0.dll
java-runtime/bin/api-ms-win-core-processthreads-l1-1-1.dll
java-runtime/bin/api-ms-win-core-profile-l1-1-0.dll
java-runtime/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
java-runtime/bin/api-ms-win-core-string-l1-1-0.dll
java-runtime/bin/api-ms-win-core-synch-l1-1-0.dll
java-runtime/bin/api-ms-win-core-synch-l1-2-0.dll
java-runtime/bin/api-ms-win-core-sysinfo-l1-1-0.dll
java-runtime/bin/api-ms-win-core-timezone-l1-1-0.dll
java-runtime/bin/api-ms-win-core-util-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-conio-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-convert-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-environment-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-filesystem-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-heap-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-locale-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-math-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-multibyte-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-private-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-process-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-runtime-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-stdio-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-string-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-time-l1-1-0.dll
java-runtime/bin/api-ms-win-crt-utility-l1-1-0.dll
java-runtime/bin/awt.dll
java-runtime/bin/fontmanager.dll
java-runtime/bin/freetype.dll
java-runtime/bin/java.dll
java-runtime/bin/java.exe
java-runtime/bin/javajpeg.dll
java-runtime/bin/javaw.exe
java-runtime/bin/jawt.dll
java-runtime/bin/jfr.exe
java-runtime/bin/jimage.dll
java-runtime/bin/jli.dll
java-runtime/bin/jrunscript.exe
java-runtime/bin/jsound.dll
java-runtime/bin/keytool.exe
java-runtime/bin/lcms.dll
java-runtime/bin/mlib_image.dll
java-runtime/bin/msvcp140.dll
java-runtime/bin/net.dll
java-runtime/bin/nio.dll
java-runtime/bin/prefs.dll
java-runtime/bin/splashscreen.dll
java-runtime/bin/ucrtbase.dll
java-runtime/bin/vcruntime140_1.dll
java-runtime/bin/vcruntime140.dll
java-runtime/bin/verify.dll
java-runtime/bin/zip.dll
java-runtime/bin/server/jvm.dll
java-runtime/conf/logging.properties
java-runtime/conf/net.properties
java-runtime/conf/sound.properties
java-runtime/conf/security/java.policy
java-runtime/conf/security/java.security
java-runtime/conf/security/policy/README.txt
java-runtime/conf/security/policy/limited/default_local.policy
java-runtime/conf/security/policy/limited/default_US_export.policy
java-runtime/conf/security/policy/limited/exempt_local.policy
java-runtime/conf/security/policy/unlimited/default_local.policy
java-runtime/conf/security/policy/unlimited/default_US_export.policy
java-runtime/include/classfile_constants.h
java-runtime/include/jawt.h
java-runtime/include/jni.h
java-runtime/include/jvmti.h
java-runtime/include/jvmticmlr.h
java-runtime/include/win32/jawt_md.h
java-runtime/include/win32/jni_md.h
java-runtime/legal/java.base/aes.md
java-runtime/legal/java.base/asm.md
java-runtime/legal/java.base/c-libutl.md
java-runtime/legal/java.base/cldr.md
java-runtime/legal/java.base/COPYRIGHT
java-runtime/legal/java.base/icu.md
java-runtime/legal/java.base/LICENSE
java-runtime/legal/java.base/public_suffix.md
java-runtime/legal/java.base/unicode.md
java-runtime/legal/java.base/wepoll.md
java-runtime/legal/java.base/zlib.md
java-runtime/legal/java.datatransfer/COPYRIGHT
java-runtime/legal/java.datatransfer/LICENSE
java-runtime/legal/java.desktop/colorimaging.md
java-runtime/legal/java.desktop/COPYRIGHT
java-runtime/legal/java.desktop/freetype.md
java-runtime/legal/java.desktop/giflib.md
java-runtime/legal/java.desktop/harfbuzz.md
java-runtime/legal/java.desktop/jpeg.md
java-runtime/legal/java.desktop/lcms.md
java-runtime/legal/java.desktop/libpng.md
java-runtime/legal/java.desktop/LICENSE
java-runtime/legal/java.desktop/mesa3d.md
java-runtime/legal/java.logging/COPYRIGHT
java-runtime/legal/java.logging/LICENSE
java-runtime/legal/java.net.http/COPYRIGHT
java-runtime/legal/java.net.http/LICENSE
java-runtime/legal/java.prefs/COPYRIGHT
java-runtime/legal/java.prefs/LICENSE
java-runtime/legal/java.scripting/COPYRIGHT
java-runtime/legal/java.scripting/LICENSE
java-runtime/legal/java.sql/COPYRIGHT
java-runtime/legal/java.sql/LICENSE
java-runtime/legal/java.transaction.xa/COPYRIGHT
java-runtime/legal/java.transaction.xa/LICENSE
java-runtime/legal/java.xml/bcel.md
java-runtime/legal/java.xml/COPYRIGHT
java-runtime/legal/java.xml/dom.md
java-runtime/legal/java.xml/jcup.md
java-runtime/legal/java.xml/LICENSE
java-runtime/legal/java.xml/xalan.md
java-runtime/legal/java.xml/xerces.md
java-runtime/legal/jdk.crypto.ec/COPYRIGHT
java-runtime/legal/jdk.crypto.ec/LICENSE
java-runtime/legal/jdk.jfr/COPYRIGHT
java-runtime/legal/jdk.jfr/LICENSE
java-runtime/legal/jdk.unsupported/COPYRIGHT
java-runtime/legal/jdk.unsupported/LICENSE
java-runtime/lib/classlist
java-runtime/lib/fontconfig.bfc
java-runtime/lib/fontconfig.properties.src
java-runtime/lib/jawt.lib
java-runtime/lib/jvm.cfg
java-runtime/lib/jvm.lib
java-runtime/lib/modules
java-runtime/lib/psfont.properties.ja
java-runtime/lib/psfontj2d.properties
java-runtime/lib/tzdb.dat
java-runtime/lib/tzmappings
java-runtime/lib/jfr/default.jfc
java-runtime/lib/jfr/profile.jfc
java-runtime/lib/security/blocked.certs
java-runtime/lib/security/cacerts
java-runtime/lib/security/default.policy
java-runtime/lib/security/public_suffix_list.dat
PizzaPOS-release/release
PizzaPOS-release/run.bat
PizzaPOS-release/bin/api-ms-win-core-console-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-console-l1-2-0.dll
PizzaPOS-release/bin/api-ms-win-core-datetime-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-debug-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-errorhandling-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-file-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-file-l1-2-0.dll
PizzaPOS-release/bin/api-ms-win-core-file-l2-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-handle-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-heap-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-interlocked-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-libraryloader-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-localization-l1-2-0.dll
PizzaPOS-release/bin/api-ms-win-core-memory-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-namedpipe-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-processenvironment-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-processthreads-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-processthreads-l1-1-1.dll
PizzaPOS-release/bin/api-ms-win-core-profile-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-string-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-synch-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-synch-l1-2-0.dll
PizzaPOS-release/bin/api-ms-win-core-sysinfo-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-timezone-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-core-util-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-conio-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-convert-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-environment-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-filesystem-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-heap-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-locale-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-math-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-multibyte-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-private-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-process-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-runtime-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-stdio-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-string-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-time-l1-1-0.dll
PizzaPOS-release/bin/api-ms-win-crt-utility-l1-1-0.dll
PizzaPOS-release/bin/awt.dll
PizzaPOS-release/bin/fontmanager.dll
PizzaPOS-release/bin/freetype.dll
PizzaPOS-release/bin/java.dll
PizzaPOS-release/bin/java.exe
PizzaPOS-release/bin/javajpeg.dll
PizzaPOS-release/bin/javaw.exe
PizzaPOS-release/bin/jawt.dll
PizzaPOS-release/bin/jfr.exe
PizzaPOS-release/bin/jimage.dll
PizzaPOS-release/bin/jli.dll
PizzaPOS-release/bin/jrunscript.exe
PizzaPOS-release/bin/jsound.dll
PizzaPOS-release/bin/keytool.exe
PizzaPOS-release/bin/lcms.dll
PizzaPOS-release/bin/mlib_image.dll
PizzaPOS-release/bin/msvcp140.dll
PizzaPOS-release/bin/net.dll
PizzaPOS-release/bin/nio.dll
PizzaPOS-release/bin/prefs.dll
PizzaPOS-release/bin/splashscreen.dll
PizzaPOS-release/bin/ucrtbase.dll
PizzaPOS-release/bin/vcruntime140_1.dll
PizzaPOS-release/bin/vcruntime140.dll
PizzaPOS-release/bin/verify.dll
PizzaPOS-release/bin/zip.dll
PizzaPOS-release/bin/server/jvm.dll
PizzaPOS-release/conf/logging.properties
PizzaPOS-release/conf/net.properties
PizzaPOS-release/conf/sound.properties
PizzaPOS-release/conf/security/java.policy
PizzaPOS-release/conf/security/java.security
PizzaPOS-release/conf/security/policy/README.txt
PizzaPOS-release/conf/security/policy/limited/default_local.policy
PizzaPOS-release/conf/security/policy/limited/default_US_export.policy
PizzaPOS-release/conf/security/policy/limited/exempt_local.policy
PizzaPOS-release/conf/security/policy/unlimited/default_local.policy
PizzaPOS-release/conf/security/policy/unlimited/default_US_export.policy
PizzaPOS-release/include/classfile_constants.h
PizzaPOS-release/include/jawt.h
PizzaPOS-release/include/jni.h
PizzaPOS-release/include/jvmti.h
PizzaPOS-release/include/jvmticmlr.h
PizzaPOS-release/include/win32/jawt_md.h
PizzaPOS-release/include/win32/jni_md.h
PizzaPOS-release/legal/java.base/aes.md
PizzaPOS-release/legal/java.base/asm.md
PizzaPOS-release/legal/java.base/c-libutl.md
PizzaPOS-release/legal/java.base/cldr.md
PizzaPOS-release/legal/java.base/COPYRIGHT
PizzaPOS-release/legal/java.base/icu.md
PizzaPOS-release/legal/java.base/LICENSE
PizzaPOS-release/legal/java.base/public_suffix.md
PizzaPOS-release/legal/java.base/unicode.md
PizzaPOS-release/legal/java.base/wepoll.md
PizzaPOS-release/legal/java.base/zlib.md
PizzaPOS-release/legal/java.datatransfer/COPYRIGHT
PizzaPOS-release/legal/java.datatransfer/LICENSE
PizzaPOS-release/legal/java.desktop/colorimaging.md
PizzaPOS-release/legal/java.desktop/COPYRIGHT
PizzaPOS-release/legal/java.desktop/freetype.md
PizzaPOS-release/legal/java.desktop/giflib.md
PizzaPOS-release/legal/java.desktop/harfbuzz.md
PizzaPOS-release/legal/java.desktop/jpeg.md
PizzaPOS-release/legal/java.desktop/lcms.md
PizzaPOS-release/legal/java.desktop/libpng.md
PizzaPOS-release/legal/java.desktop/LICENSE
PizzaPOS-release/legal/java.desktop/mesa3d.md
PizzaPOS-release/legal/java.logging/COPYRIGHT
PizzaPOS-release/legal/java.logging/LICENSE
PizzaPOS-release/legal/java.net.http/COPYRIGHT
PizzaPOS-release/legal/java.net.http/LICENSE
PizzaPOS-release/legal/java.prefs/COPYRIGHT
PizzaPOS-release/legal/java.prefs/LICENSE
PizzaPOS-release/legal/java.scripting/COPYRIGHT
PizzaPOS-release/legal/java.scripting/LICENSE
PizzaPOS-release/legal/java.sql/COPYRIGHT
PizzaPOS-release/legal/java.sql/LICENSE
PizzaPOS-release/legal/java.transaction.xa/COPYRIGHT
PizzaPOS-release/legal/java.transaction.xa/LICENSE
PizzaPOS-release/legal/java.xml/bcel.md
PizzaPOS-release/legal/java.xml/COPYRIGHT
PizzaPOS-release/legal/java.xml/dom.md
PizzaPOS-release/legal/java.xml/jcup.md
PizzaPOS-release/legal/java.xml/LICENSE
PizzaPOS-release/legal/java.xml/xalan.md
PizzaPOS-release/legal/java.xml/xerces.md
PizzaPOS-release/legal/jdk.crypto.ec/COPYRIGHT
PizzaPOS-release/legal/jdk.crypto.ec/LICENSE
PizzaPOS-release/legal/jdk.jfr/COPYRIGHT
PizzaPOS-release/legal/jdk.jfr/LICENSE
PizzaPOS-release/legal/jdk.unsupported/COPYRIGHT
PizzaPOS-release/legal/jdk.unsupported/LICENSE
PizzaPOS-release/lib/classlist
PizzaPOS-release/lib/fontconfig.bfc
PizzaPOS-release/lib/fontconfig.properties.src
PizzaPOS-release/lib/jawt.lib
PizzaPOS-release/lib/jvm.cfg
PizzaPOS-release/lib/jvm.lib
PizzaPOS-release/lib/modules
PizzaPOS-release/lib/psfont.properties.ja
PizzaPOS-release/lib/psfontj2d.properties
PizzaPOS-release/lib/tzdb.dat
PizzaPOS-release/lib/tzmappings
PizzaPOS-release/lib/jfr/default.jfc
PizzaPOS-release/lib/jfr/profile.jfc
PizzaPOS-release/lib/security/blocked.certs
PizzaPOS-release/lib/security/cacerts
PizzaPOS-release/lib/security/default.policy
PizzaPOS-release/lib/security/public_suffix_list.dat
PizzaPOS-release/logo.ico
PizzaPOS-release/PizzaPOS Launcher.lnk
PizzaPOS-release/pizzapos/run.bat
