.root * {
    /*.root is inherited to all components*/
    -fx-font-family: "Poppins";
}

.button :hover {
    -fx-font-family: "Poppins";
}

.nav-button {
    -fx-background-color: #ffcccc;
    -fx-cursor: hand;
}

.nav-button:pressed {
    -fx-background-color: #ff6666
}