.firstbutton{
    -fx-background-color: #37211a;
    -fx-text-fill: #eebb32;
    -fx-font-family: "Poppins";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.firstbutton:hover {
    -fx-background-color: #916e4e;
}

.firstbutton:pressed {
    -fx-background-color: #eebb32;
}

.secondbutton{
    -fx-background-color: #eebb32;
}

.secondbutton:hover {
    -fx-background-color: #916e4e;
}

.secondbutton:pressed {
    -fx-background-color: #eebb32;
}

.thirdbutton{
    -fx-background-color: transparent;
}

.thirdbutton:pressed {
    -fx-background-color: #eebb32;
}

.buttoncurve{
    -fx-shape: "M 500 400 L 300 400 L 300 335 C 300 317 315 309 315 310 L 485 310 C 485 310 500 317 500 335 L 500 400  ";
}

.rowText {
    -fx-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
