.toastRootSuccess {
    -fx-background-radius: 5px;
    -fx-background-color: rgba(255, 197, 1, 0.8);
}

.toastRootFailed {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(255, 23, 0, 0.6);
}

.leftBar {
    -fx-background-color: #FFC501;
    -fx-background-radius: 20px;
}

.hContainer {

}

.img {

}

.textContainer {
    -fx-font-family: "Poppins";
}

.titleText {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.bodyText {
    -fx-font-weight: bold;
}

.closeBtn {
    -fx-background-color: rgba(255, 255, 255, 0);
}

.closeBtn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}